* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    position: relative;
    background: rgb(214, 219, 122);
    background-position: center;
    background-size: cover;
}

.iphone {
    margin-top: -105px;
    /* Adjust this value to move it up */
    border: 10px solid black;
    border-radius: 40px;
    width: 320px;
    height: 700px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 15px #33333335;
}

.container {

    width: 320px;
    height: 710px;
    margin: 4% auto;
    background-image: url(anime_art_of_cute_village_natu_5.jpeg);
    border-radius: 40px;
    position: relative;

    /* Set the height of the container */

}

h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}

.container form {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    position: absolute;
    top: 10px;
}

form button {
    width: 110px;
    height: 50px;
    margin: 0 50px;
    background: linear-gradient(to right, #59d76a, #5fd683);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}



h1 {
    position: absolute;
    top: 50%;
    /* Adjust this value to change the vertical position */
    width: 300px;
    height: 50px;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font: 700 normal 2em 'tahoma';
    text-shadow: 5px 2px #5fa05d, 2px 4px #222324, 3px 5px #222324;
    padding-bottom: 50px;
    overflow: hidden;
    border-right: .05em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .04em;
    animation: typing 2s steps(30),
        blink-caret .4s step-end 3;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: white
    }

    50% {
        border-color: transparent
    }
}