* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(anime_art_of_calm_mental_healt.jpeg);
    background-position: center;
    background-size: cover;
}

.container {
    width: 320px;
    height: 700px;
    margin: 4% auto;
    background: rgb(214, 219, 122);
    border-radius: 5px;
    position: relative;

}

h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #777;
}

.container form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
}


form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

::placeholder {
    color: #777;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #59d76a, #5fd683);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.iphone {
    margin: auto;
    border: 10px solid black;
    border-radius: 40px;
    width: 320px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 15px #33333335;
    
}